/* Sección Principal */
.seccion_principal{
    width: 100%;
    height: 100%;
    position: relative;
}
.seccion_contenido{
    width: 100%;
    height: 100%;
    position: relative;
}
.portada_article {
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../assets/img/Home.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portada_article h1{
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 15%;
}

.portada_article p{
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 15%;
}